.main {
    color: white;
  background-color: rgb(58, 48, 48);
}

.start,
  .pause,
  .reset {
    border-color: rgb(4, 200, 249);
    /* color: white; */
    margin: 20px;
    /* background-color: rgb(6, 46, 245); */
  }

@media screen and (max-width: 768px) {
  .main {
    display: flex;
    flex-direction: column;
  }

  .min,
  .sec {
    margin: 10px;
  }

  .start,
  .pause,
  .reset {
    border-color: beige;
    color: white;
    margin: 20px;
    background-color: rgb(6, 46, 245);
  }

  .display {
    padding: 20px;
  }
}
